<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- java classes that you want to represent as spring beans... Below script 
		will only create object -->
	<bean id="pwd" class="demo.ioc.beans.PwdService" />


	<bean id="user" class="demo.ioc.beans.UserService">
		<!--We have to give input to IOC to perform DI -->
		<!-- which bean should be injected into which bean -->


		<!-- injecting Pwd bean into User bean by using setter -->

		<property name="pwdService" ref="pwd" />
	</bean>

</beans>